# Arquivos e diretórios a serem ignorados pelo Git

# Ignorar o arquivo Firebase.gd dentro do diretório static
static/Firebase.gd

# Ignorar arquivos de importação
.import

# Ignorar o diretório Main
Main/
